<section class="sm:w-1/2 lg:w-5/6 mx-auto py-8">
  <article
    class="flex flex-col justify-center items-start min-h-screen px-4 sm:px-8 lg:px-16"
    id="ctaSection"
  >
    <h1 class="text-4xl sm:text-5xl lg:text-6xl">Bienvenidos</h1>
    <h2 class="text-2xl sm:text-3xl lg:text-4xl my-4">
      Servicios <span class="text-sky-700">IT</span> y
      <span class="text-lime-700">Consultoría</span>
    </h2>
    <h3 class="text-lg sm:text-xl lg:text-2xl sm:mb-8 lg:mb-16 mb-8">
      Nos especializamos en crear y mantener aplicaciones web de alta calidad
      adaptadas a las necesidades de tu negocio.
    </h3>
    <button
      type="button"
      class="text-lg sm:text-xl lg:text-2xl my-6"
      style="cursor: pointer"
      (click)="onContactClick()"
    >
      ¡Contáctanos!
    </button>
  </article>
</section>
