<footer class="px-4 sm:px-8 mt-4" id="footer">
  <section
    class="flex flex-col sm:flex-row items-center justify-between p-4 sm:p-8 gap-4 sm:gap-0"
  >
    <img src="#" alt="logo" class="w-20 sm:w-28 lg:w-32" />
    <article
      class="flex flex-col sm:flex-row items-center justify-center sm:justify-evenly gap-4 sm:gap-6"
    >
      <h5 class="text-center sm:text-left text-sm sm:text-base lg:text-lg">
        Nuestras redes:
      </h5>
      <ul class="flex flex-row items-center justify-center gap-2">
        <li>
          <a
            href="https://www.instagram.com/dot.code.design/"
            target="_blank"
            rel="noopener"
            class="text-sm sm:text-base"
            >Instagram icon</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/recabarren-cristian/"
            target="_blank"
            rel="noopener"
            class="text-sm sm:text-base"
            >LinkedIn icon</a
          >
        </li>
      </ul>
    </article>
  </section>
  <hr class="my-4" />
  <section
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 sm:gap-8 p-4 sm:p-8 justify-items-center"
  >
    <article class="flex flex-col items-start gap-4">
      <h6 class="text-lg sm:text-xl lg:text-2xl font-semibold">Información</h6>
      <a href="#" class="text-sm sm:text-base">Nuestros servicios</a>
      <a href="#" class="text-sm sm:text-base">Testimonios</a>
      <a href="#" class="text-sm sm:text-base">Socios</a>
    </article>
    <article class="flex flex-col items-start gap-4">
      <h6 class="text-lg sm:text-xl lg:text-2xl font-semibold">Servicios</h6>
      <a href="#" class="text-sm sm:text-base">Diseño web</a>
      <a href="#" class="text-sm sm:text-base">Desarrollo web</a>
      <a href="#" class="text-sm sm:text-base">Desarrollo móvil</a>
      <a href="#" class="text-sm sm:text-base">Marketing digital</a>
      <a href="#" class="text-sm sm:text-base">Soluciones IT</a>
      <a href="#" class="text-sm sm:text-base">Mantenimiento</a>
      <a href="#" class="text-sm sm:text-base">Automatizaciones</a>
    </article>
    <article class="flex flex-col items-start gap-4">
      <h6 class="text-lg sm:text-xl lg:text-2xl font-semibold">Contacto</h6>
      <a href="mailto:info@dot.dev" class="text-sm sm:text-base"
        >info&#64;dot.dev</a
      >
      <a href="tel:+123456789" class="text-sm sm:text-base">+12 345 6789</a>
      <a href="#" class="text-sm sm:text-base">Formulario de contacto</a>
      <p class="text-sm sm:text-base text-center">Córdoba, Argentina</p>
    </article>
  </section>
  <hr class="my-4" />
  <section
    class="flex flex-col sm:flex-row items-center justify-evenly p-4 sm:p-8 gap-4 sm:gap-0"
  >
    <article>
      <p class="text-center sm:text-left text-sm sm:text-base">
        Sistemas en funcionamiento
      </p>
    </article>
    <article>
      <ul
        class="flex flex-row items-center justify-center sm:justify-between gap-4"
      >
        <li>
          <a href="#" class="text-sm sm:text-base">Política de privacidad</a>
        </li>
      </ul>
    </article>
  </section>
  <section
    class="flex flex-col sm:flex-row items-center justify-center p-4 sm:p-8 gap-4 sm:gap-0"
  >
    <article>
      <p class="text-center sm:text-left text-sm sm:text-base">
        &#64;dot.dev - todos los derechos reservados. 2025
      </p>
    </article>
  </section>
</footer>
