<footer class="px-4 sm:px-8 mt-4" id="footer">
  <section
    class="flex flex-col sm:flex-row items-center justify-between p-4 sm:p-8 gap-4 sm:gap-0"
  >
    <img src="#" alt="logo" class="w-20 sm:w-28 lg:w-32" />
    <article
      class="flex flex-col sm:flex-row items-center justify-center sm:justify-evenly gap-4 sm:gap-6"
    >
      <h5 class="text-center sm:text-left text-sm sm:text-base lg:text-lg">
        Nuestras redes:
      </h5>
      <ul class="flex flex-row items-center justify-center gap-2">
        <li>
          <a
            href="https://www.instagram.com/dot.code.design/"
            target="_blank"
            rel="noopener"
            class="text-sm sm:text-base"
            >Instagram icon</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/recabarren-cristian/"
            target="_blank"
            rel="noopener"
            class="text-sm sm:text-base"
            >LinkedIn icon</a
          >
        </li>
      </ul>
    </article>
  </section>
  <hr class="my-4" />
  <section
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 sm:gap-8 p-4 sm:p-8 justify-items-center"
  >
    <article class="flex flex-col items-center gap-4">
      <h6 class="text-lg sm:text-xl lg:text-2xl font-semibold">Home</h6>
      <a href="#" class="text-sm sm:text-base">Our services</a>
      <a href="#" class="text-sm sm:text-base">Testimonials</a>
      <a href="#" class="text-sm sm:text-base">Partners</a>
    </article>
    <article class="flex flex-col items-center gap-4">
      <h6 class="text-lg sm:text-xl lg:text-2xl font-semibold">Services</h6>
      <a href="#" class="text-sm sm:text-base">Web design</a>
      <a href="#" class="text-sm sm:text-base">Web development</a>
      <a href="#" class="text-sm sm:text-base">Mobile development</a>
      <a href="#" class="text-sm sm:text-base">Digital marketing</a>
      <a href="#" class="text-sm sm:text-base">IT solutions</a>
    </article>
    <article class="flex flex-col items-center gap-4">
      <h6 class="text-lg sm:text-xl lg:text-2xl font-semibold">Text</h6>
      <a href="#" class="text-sm sm:text-base">link-text</a>
      <a href="#" class="text-sm sm:text-base">link-text</a>
      <a href="#" class="text-sm sm:text-base">link-text</a>
    </article>
  </section>
  <hr class="my-4" />
  <section
    class="flex flex-col sm:flex-row items-center justify-evenly p-4 sm:p-8 gap-4 sm:gap-0"
  >
    <article>
      <p class="text-center sm:text-left text-sm sm:text-base">
        All systems working
      </p>
    </article>
    <article>
      <ul
        class="flex flex-row items-center justify-center sm:justify-between gap-4"
      >
        <li>
          <a href="#" class="text-sm sm:text-base">privacy policy</a>
        </li>
        <!-- <li>
          <a href="#" class="text-sm sm:text-base">terms</a>
        </li> -->
        <!-- <li>
          <a href="#" class="text-sm sm:text-base">cookies policy</a>
        </li> -->
      </ul>
    </article>
  </section>
  <section
    class="flex flex-col sm:flex-row items-center justify-center p-4 sm:p-8 gap-4 sm:gap-0"
  >
    <article>
      <p class="text-center sm:text-left text-sm sm:text-base">
        &#64;dot.dev - all rights reserved. 2024
      </p>
    </article>
  </section>
</footer>
