<app-cta (contactClick)="onContactClick()"></app-cta>

<hr class="my-4" />

<app-services [services]="services"></app-services>

<hr class="my-4" />

<app-portfolio [projects]="projects"></app-portfolio>

<hr class="my-4" />

<app-about-us></app-about-us>

<hr class="my-4" />

<app-technologies [technologies]="technologies"></app-technologies>

<hr class="my-4" />

<app-faq [allFAQs]="faqs" (scrollToContact)="onContactClick()"></app-faq>

<hr class="my-4" />

<app-ideas></app-ideas>

<hr class="my-4" />

<app-contact></app-contact>
